amqp==5.2.0
billiard==4.2.1
blinker==1.8.2
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
datasketch==1.6.4
Django>=3.2,<4.0
django-cors-headers>=3.5.0,<4.0
djangorestframework>=3.12,<4.0
djangorestframework-simplejwt
Faker==30.4.0
Flask==3.0.3
fonttools==4.49.0
idna==3.10
implicit==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
kmeans
kombu==5.4.2
llvmlite==0.42.0
MarkupSafe==3.0.0
matplotlib==3.8.3
nltk==3.9.1
numba==0.59.1
numpy==1.26.4
packaging==23.2
pandas==2.2.2
pillow==10.2.0
prompt_toolkit==3.0.48
psycopg2-binary>=2.8,<3.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.9.11
requests==2.32.3
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
vaderSentiment==3.3.2
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.4
xgboost==2.0.3

